extends layout.pug

block content
  h1 About
  p This website is for CSC4370 (Web Programming) as a final project.
  p It was developed by Nicholas DeVeau.
  h2 Project Purpose
  p The purpose of this project is to demonstrate the skills and knowledge acquired during the course.
  h2 Features
  ul
    li Task management
    li User authentication
    li Profile management
    li Search functionality
  h2 Technologies Used
  ul
    li Node.js
    li Express
    li MySQL
    li Pug
    li CSS