
extends layout.pug

block content
  h1 Frequently Asked Questions
  h2 How do I add a task?
  p To add a task, log in and use the form on the home page.
  h2 How do I delete a task?
  p To delete a task, log in and use the delete button next to the task.
  h2 How do I edit a task?
  p To edit a task, log in and use the edit button next to the task.