extends layout.pug

block content
  h1 Settings
  .settings-container
    form(action="/update-settings" method="post" class="settings-form")
      .form-group
        label(for="email") Email:
        input(type="email" name="email" value=user.email required)
      button(type="submit" class="button") Update Email

    form(action="/update-password" method="post" class="settings-form")
      .form-group
        label(for="current-password") Current Password:
        input(type="password" name="current-password" required)
      .form-group
        label(for="new-password") New Password:
        input(type="password" name="new-password" required)
      button(type="submit" class="button") Update Password

